{% extends "base.html" %}

{% block body %}

<div class="container my-5">
    <div class="row text-center">
        <h2 class="display-4 font-weight-light mt-2">Our Project</h2>
        <p class="font-italic text-muted">Spring 2021 Senior Capstone Design Project</p>
    </div>
    <h3 class="text-center"> Motivations </h3>
    <p> Amazon is the world’s largest online marketplace and one of the world's most valuable companies. There are an immense number of products sold on Amazon and they have a correspondingly immense amount of images
        Being able better understand these images benefits the company and its end users. </p>

    <h3 class="text-center"> Design Problem </h3>
    <p> There are many products in Amazon’s catalog that look very similar but contain small differences that can be found upon close inspection. 
        However, it is a tedious task to manually detect these differences with the human eye. 
        Given two images, can a model determine if they represent the same product? </p>
    <p>This is where our project “Understanding Product Images” comes in. 
        We are team H19 and our goal is to finetune and train a deep neural net based ML model that determines if two images are of the same product and creates a bounding box highlighting the difference if they are not. 
    </p>

</div>


<div class="row mb-4 text-center">
    <h2 class="display-4 font-weight-light mt-2">Our Team</h2>
</div>

    <div class="row text-center">
        <!-- Team item-->
        {% load static %}
        <div class="col-xl col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static './assets/jessica.jpg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Jessica Pham</h5>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static './assets/matt.jpg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Matt Macdonald</h5>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static './assets/ryed.jpg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Ryed Ahmed</h5>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static './assets/soroush.jpg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Soroush Famili</h5>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static './assets/william.jpg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">William Gu</h5>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- End-->


    </div>

{% endblock %}