{% extends "base.html" %}

{% block body %}
<div class="bg-light">
    <div class="container py-3">
        <div class="row mb-4">
            <h2 class="display-4 font-weight-light">Difference Detector Model</h2>
        </div>
        <div class="py-3 row">
            <div class="col">
                <form method="post" enctype="multipart/form-data">
                    <label class="form-label" for="customFile">Image 1</label>
                    {% csrf_token %}
                    <input type="file" name="image" class="form-control" id="customFile" />
                    <button type="submit" name="image1_btn" class="mt-2 btn btn-dark rounded mx-auto d-block"> Upload
                    </button>
                </form>
                <br>
                {% if img1_path == './media/image1.jpg'%}
                <img src="{{ img1_path }}" class="rounded mx-auto d-block" width="300px" />
                {% endif %}
            </div>
            <div class="col">
                <form method="post" enctype="multipart/form-data">
                    <label class="form-label" for="customFile">Image 2</label>
                    {% csrf_token %}
                    <input type="file" name="image" class="form-control" id="customFile" />
                    <button type="submit" name="image2_btn" class="mt-2 btn btn-dark rounded mx-auto d-block"> Upload
                    </button>
                </form>
                <br>
                {% if img2_path == './media/image2.jpg'%}
                <img src="{{ img2_path }}" class="rounded mx-auto d-block" width="300px" />
                {% endif %}
            </div>
            <form method="post">
                <div class="mt-5 mb-2 row justify-content-center">
                    {% csrf_token %}
                    <button type="submit" name="classify" class="btn btn-primary" style="width: 100px;"> Classify
                    </button>
                </div>
            </form>
        </div>
        <div class="py-3 row text-center">
            <h2 class="display-4 font-weight-light"> Score: {{classify_val}} </h2>
        </div>
        <div class="py-3 row text-center">
            <h3 class="display-4 font-weight-light"> GradCam Results: </h2>
        </div>
        <div class="py-3 row text-center">
            <div class="col">
                <img src={{vis1}} style="height: 240px" />
            </div>
            <div class=" col">
                <img src={{vis2}} style="height: 240px" />
            </div>
        </div>
        <div class="py-3 row text-center">
            <h3 class="display-4 font-weight-light"> Bounding Box Results: </h2>
        </div>
        <div class="py-3 row text-center">
            <div class="col">
                <img src={{box1}} style="height: 240px" />
            </div>
            <div class=" col">
                <img src={{box2}} style="height: 240px" />
            </div>
        </div>
    </div>
</div>





{% endblock %}