{% extends "base.html" %}

{% block bodytag %}
    onLoad="displayGradcam(); displayBoundingBoxes();"
{% endblock %}

{% block body %}

<section class="py-3" name="classifier_model"></section>
  <div class="container"></div>
    <br>
    <div class="row">
        <div class="col-2">
            <div class="d-grid gap-2 btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary" for="btncheck1">Classify Images</label> 
                <input type="checkbox" class="btn-check" id="btncheck2" name="btncheck2" autocomplete="off" onchange="displayGradcam()">
                <label class="btn btn-outline-primary" for="btncheck2">GradCAM Results</label>
                <input type="checkbox" class="btn-check" id="btncheck3" name="btncheck3" autocomplete="off" onchange="displayBoundingBoxes()">
                <label class="btn btn-outline-primary" for="btncheck3">Bounding Boxes</label>
              </div>
        </div>
        <div class="col-10">
            <div class="container"></div>
                    <!--- Classify Section! --->
                <section class="ps-3" name="classifier">
                    <div class="container text-center section-box">
                    <div class="row">
                        <div class="col">
                            <form class="row" method="post" enctype="multipart/form-data">
                                <label class="form-label" for="customFile1">Image 1</label>
                                <div class="col-8">
                                    {% csrf_token %}
                                    <input type="file" name="image" class="form-control" id="customFile1"/>
                                </div>
                                <div class="col-4">
                                    <button type="submit" name="image1_btn" class="btn btn-dark rounded d-block align"> Upload</button>
                                </div>
                            </form>
                            <br>
                            {% if img1_path != ''%}
                            <img src="{{ img1_path }}" class="rounded mx-auto d-block" height="300px" />
                            {% endif %}
                        </div>
                        <div class="col">
                            <form class="row" method="post" enctype="multipart/form-data">
                                <label class="form-label" for="customFile2">Image 2</label>
                                <div class="col-8">
                                    {% csrf_token %}
                                    <input type="file" name="image" class="form-control" id="customFile2"/>
                                </div>
                                <div class="col-4">
                                    <button type="submit" name="image2_btn" class="btn btn-dark rounded d-block align"> Upload</button>
                                </div>
                            </form>
                            <br>
                            {% if img2_path != ''%}
                            <img src="{{ img2_path }}" class="rounded mx-auto d-block" height="300px" />
                            {% endif %}
                        </div>
                            <form method="post">
                                <div class="mt-3 mb-2 row justify-content-center">
                                    {% csrf_token %}
                                    <button type="submit" name="classify" class="btn btn-primary" style="width: 100px;"> Classify
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="py-2 row text-center"> 
                            {% if classify_val != 'NaN'%}
                                <h2> Score: {{classify_val}} </h2>
                            {% else %}
                                <h4> Click "Classify" to make a prediction. </h4>
                            {% endif %}
                        </div>
                    </div>
                </section>
                <!--- GradCAM Section! --->
                <section class="ps-3 pt-2" id="gradcam_section">
                    <div class="container text-center section-box">
                        <h4> GradCAM Results: </h2>
                        <div class="row my-3 text-center">
                            {% if vis1 == '' or vis2 == '' %}
                                <p class="error_msg"> No results found. Upload two images and click "Classify". </p>
                            {% else %}
                                <div class="col">
                                    <img src={{vis1}} style="height: 240px" />
                                </div>
                                <div class="col">
                                    <img src={{vis2}} style="height: 240px" />
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </section>
                <!--- Bounding Boxes Section! --->
                <section class="ps-3 pt-2" id="boundingboxes_section">
                    <div class="container text-center section-box">
                        <h4> Bounding Box Results: </h2>
                        <div class="row my-3 text-center">
                            {% if box1 == '' or box2 == '' %}
                                <p class="error_msg"> No results found. Upload two images and click "Classify". </p>
                            {% else %}
                                <div class="col">
                                    <img src={{box1}} style="height: 240px" />
                                </div>
                                <div class=" col">
                                    <img src={{box2}} style="height: 240px" />
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </section>
            </div>
        </div>
  </div>

<script>
    function displayGradcam() {
        var c = document.getElementById("btncheck2");
        var s = document.getElementById("gradcam_section");
        if (c.checked) {
            s.style.display = "block";
        } else {
            s.style.display = "none";
        }
    }

    function displayBoundingBoxes() {
        var c = document.getElementById("btncheck3");
        var s = document.getElementById("boundingboxes_section");
        if (c.checked) {
            s.style.display = "block";
        } else {
            s.style.display = "none";
        }
    }

    function freezeButtons() {
        document.getElementById('btncheck2').disabled = true;
        document.getElementById('btncheck3').disabled = true;
    }

    function unfreezeButtons() {
        document.getElementById('btncheck2').disabled = false;
        document.getElementById('btncheck3').disabled = false;
    }

</script>


{% endblock %}